
.boardCell{
    display: flex;
    height: 6rem;
    width: 6rem;
    background-color: #7fffd4; 
    justify-content: center;
    align-items: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 3rem;
    border: 6px solid transparent;
    border-radius: 8px;
}

.boardCell:hover{
    box-shadow: 18px 18px 31px -10px rgba(18,18,18,0.54);
    -webkit-box-shadow: 15px 15px 31px -10px rgba(18,18,18,0.54);
    -moz-box-shadow: 15px 15px 31px -10px rgba(18,18,18,0.54);
    border:6px solid #52bb98;

}

@media only screen and (max-width: 480px){

    .boardCell{
        height: 5rem;
        width: 5rem;
    }
}