.choiceContainer{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;

}

.choiceX{
    border-bottom: 9px solid greenyellow;
    margin-right: 4rem;
}

.choiceO{
    border-bottom: 9px solid blue;
}

.inactive{
    border-bottom: 9px solid transparent;
}